<div class="mt-8 mb-2 max-w-5xl flex container mx-auto items-start">
    <div class="py-2 px-12 flex-1 border rounded-lg mt-2 items-center mt-0">
            <div class="py-4 px-12 flex border rounded-lg mt-2 items-center bg-blue-950 text-white">
                <img src="assets/obj.png" class="object-scale-down h-8 w-16">
                <h2 class="mb-1 text-lg flex-auto text-left font-bold">{{ object.Name }}</h2>
                <button><img src="assets/pan.png" class="object-scale-down h-6 w-12 ml-auto"></button>
            </div>
            
            <div> <h2 class="mb-1 px-6 text-lg flex-auto text-left font-medium">Номер договора:</h2> </div>
            <div> <h2 class="mb-1 px-6 text-lg flex-auto text-left font-medium">Объект договора:</h2> </div>
            <div> <h2 class="mb-1 px-6 text-lg flex-auto text-left font-medium">Дата заключения:</h2> </div>
            <div> <h2 class="mb-1 px-6 text-lg flex-auto text-left font-medium">Дата окончания:</h2> </div>
            <div> <h2 class="mb-1 px-6 text-lg flex-auto text-left font-medium">Сумма платежа:</h2> </div>
            <div> <h2 class="mb-1 text-lg flex-auto text-left font-bold">Доп. параметры</h2> </div>
            @for (elem of object.CustomParams; track elem) {
            <div> <h2 class="mb-1 text-lg flex-auto text-left font-medium">{{ elem.Name }}: {{ elem.Value }}</h2> </div>
            }
            <div> <h2 class="mb-1 text-lg flex-auto text-left font-medium">Сигнализация:</h2> </div>
            <div class="py-2 px-12 flex border rounded-lg items-center mt-2 border-dashed border-black border-2" (click)="selectedObjectID = ''; showAddObjectModalWindow = true;">
                <button class="mb-1 text-lg flex-auto text-center">	&#43; Добавить параметр </button>
            </div>
        </div>
        <div class="py-2 px-12 flex-1 border rounded-lg mt-2 items-center mt-0">
            <div> <h2 class="mb-1 text-lg flex-auto text-left font-bold">Клиенты</h2> </div>
            <div class="py-4 px-12 flex border rounded-lg mt-2 items-center bg-blue-950 text-white">
                <h2 class="mb-1 text-lg flex-auto text-left">Михаил Викторович</h2>
                <button><img src="assets/pan.png" class="object-scale-down h-6 w-12"></button>
            </div>
            <div> <h2 class="mb-1 text-lg flex-auto text-left font-bold">Договоры</h2> </div>
            <div class="py-4 flex border rounded-lg items-center mt-2 border-dashed border-black border-2" (click)="selectedObjectID = ''; showAddObjectModalWindow = true;">
                <img src="assets/file.png" class="px-6 object-scale-down h-16 w-32">
                <div>
                    <div> <h2 class="mb-1 px-2 text-lg flex-auto text-left font-medium">Договор 123123123</h2> </div>
                    <div> <h2 class="mb-1 px-4 text-lg flex-auto text-left font-normal">ТЦ Измайлово</h2> </div>
                    <div> <h2 class="mb-1 px-4 text-lg flex-auto text-left font-normal">4 122 232Р</h2> </div>
                    <div> <h2 class="mb-1 px-4 text-lg flex-auto text-left font-normal">12.04.2010 - 30.03.2025</h2> </div>
                </div>
            </div>
            <div> <h2 class="mb-1 text-lg flex-auto text-left font-bold">Графический план </h2> </div>
            <div class="flex border rounded-lg items-center mt-2 border-dashed border-black border-2" (click)="selectedObjectID = ''; showAddObjectModalWindow = true;">
                <img src="assets/plan.png" class="h-1/2 object-fill opacity-50 ">
            </div>
            <div class="mt-2 text-lg font-bold text-center text-red-400 underline"> <button class="underline">Удалить объект</button> </div>
        </div>
    </div>